<center>
	<form ng-submit="itemsAddCtrl.itemsAddSubmit()" novalidate name="itemsAddCtrl.form">
		<div class="header">New record</div>
		<br><br>
		<div 
			style="border-color: white;
				border-style: solid;
				border-width: thick;
				width: 210px;">
			<img ng-src="{{itemsAddCtrl.pic}}" style="width:200px; height:210px;">
		</div>
		<br>
		<table class="table table-bordered">
			<tr>
				<td>
					<select class="form-control input" required
							ng-model="itemsAddCtrl.categorySelectedItem"
							ng-options="option.name for option in itemsAddCtrl.categoryOptions
							track by option.name"
							ng-change="itemsAddCtrl.updateChangeCategory(itemsAddCtrl.categorySelectedItem)">
					</select>
					<div ng-show="itemsAddCtrl.categoryError" class="valid">Value required</div>
				</td>
			</tr>

			<tr>
				<td>
					<select class="form-control input" required
							ng-model="itemsAddCtrl.groupSelectedItem"
							ng-options="option.name for option in itemsAddCtrl.groupOptions
							track by option.name"
							ng-change="itemsAddCtrl.updateChangeGroup(itemsAddCtrl.groupSelectedItem)">
					</select>
					<div ng-show="itemsAddCtrl.groupError" class="valid">Value required</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   style="font-size:20px;
						   color: white;
						   background-color: black;
						   border-style: none;"
						   placeholder="Name" name="name"
						   ng-model="itemsAddCtrl.name">

					<div ng-if="itemsAddCtrl.form.$submitted">
						<div ng-show="itemsAddCtrl.form.name.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
		
			<tr>
				<td>
					<textarea rows=5 type="text" class="form-control input" required
						   style="font-size:20px; 
						   color: white; 
						   background-color: black;
						   border-style: none;"					
						   placeholder="Description" name="description"
						   ng-model="itemsAddCtrl.description">
					</textarea>
					<div ng-if="itemsAddCtrl.form.$submitted">
						<div ng-show="itemsAddCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="file" id="picFileInput" multiple onchange="angular.element(this).scope().convertPicToJSON()">
				</td>
			</tr>			
		</table>

		<button type="submit" class="btn btn-primary button">Submit</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="itemsAddCtrl.itemsAddBack()">Back</button>
	</form>
	<br><br>
</center>