<center>
	<form ng-submit="itemsEditCtrl.itemsSubmit()" novalidate name="itemsEditCtrl.form">
		<div class="header">&nbsp;{{itemsEditCtrl.name}}</div>
		<br><br>
		<div 
			style="border-color: white;
				border-style: solid;
				border-width: thick;
				width: 260px;">
			<img ng-src="{{itemsEditCtrl.pic}}" style="width:250px; height:350px;" ng-click="itemsEditCtrl.openPic()">
		</div>

		<div style="font-size:20px; color: white; background-color: black; border-style: none;">
			<hr>
			{{itemsEditCtrl.plot}}
			<hr>
			{{itemsEditCtrl.year}}
			<hr>
			{{itemsEditCtrl.country}}
			<hr>		
			{{itemsEditCtrl.genre}}
			<hr>		
			{{itemsEditCtrl.actors}}
			<hr>		
			{{itemsEditCtrl.runtime}} ({{itemsEditCtrl.type}})
			<hr>		
			Rating: {{itemsEditCtrl.imdbRating}}
			<hr>		
			ID: {{itemsEditCtrl.imdbID}}
			<hr>
		</div>

		<button type="button" class="btn btn-primary button" ng-click="itemsEditCtrl.goCancel()">Cancel</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="itemsEditCtrl.itemsDialog()">Delete</button><br><br>
		<button type="button" class="btn btn-primary button" ng-click="itemsEditCtrl.itemsEditBack()">Back</button>
	</form>
	<br>
</center>