<center>
    <div class="list-group">
		<div class="header">Movies DB</div>
        <br><br>
        <img ng-src="logo.jpg" width=150 height=150>
        <br><br>
		<div>
			<hr>
				<a ng-click="mainCtrl.go('search')" href='#' class="list-group-item" style="font-size:24px; font-weight: bold; color: white; background-color: black; border: black;">Search movies</a>
				<a ng-click="mainCtrl.go('items')" href='#' class="list-group-item" style="font-size:24px; font-weight: bold; color: white; background-color: black; border: black;">Favorite movies</a>
				<a ng-click="mainCtrl.go('series')" href='#' class="list-group-item" style="font-size:24px; font-weight: bold; color: white; background-color: black; border: black;">Favorite series</a>
			<hr>
		</div>
    </div>
</center>